html, body {
    background: #03001E;
    color: #FFF;
    font-family: 'Space Grotesk', sans-serif;
    padding: 0;
    margin: 0;
}
body { 
    /* for loader init state */
    overflow: hidden;
}
button {
    font-family: 'Space Grotesk', sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left; */
    background: url('wallpaper-min.jpg') center top no-repeat;
    background-size: cover;
    padding: 20px;
    min-height: 100vh;
}

@media (min-width: 1024px) {
    main {
        margin: 20px auto;
        max-width: 640px;
        min-height: calc(100vh - 40px);
        border-radius: 6px;
    }
}
#interface {
    opacity: 0;
    z-index: 0;
}
#goodnight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}
#loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}
#loader button {
    border-radius: 99px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .15em;
    font-weight: 600;
    background: rgba(255,255,255,0.1);
    color: #FFF;
    padding: 14px 84px;
    border: 0 none;
    cursor:pointer;
}
#loader button:hover,
#loader button:focus,
#loader button:active {
    background: rgba(255,255,255,0.2);
}
#loader h2 {
    color: rgba(255,255,255,0.8);
    font-size: 20px;
    margin-bottom: 2em;
}
#loader h2 span {
    font-weight: 800;
    color: #FFF;
    font-size: 48px;
    letter-spacing: .015em;
    display: block;
}
header {
    margin-bottom: 1em;
}
header h1 {
    color: rgba(255,255,255,0.8);
    font-size: 20px;
    margin-bottom: .25em;
}
header h1 span {
    display: block;
    font-size: 36px;
    color:#FFF;
}
#userCount {
    color: #CBD5E1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status {
    border-radius: 3px;
    text-transform: uppercase;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    letter-spacing: 0.06em;
    color: #040127;
    padding: 4px 8px;
    opacity: 0;
    position: absolute;
}
#status-row {
    height: 26px;
}
.status svg {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

#status__live {
    background: #FF0F9F;
    box-shadow: 0px 4px 29px rgba(255, 15, 159, 0.25), 0px 2px 40px rgba(255, 15, 159, 0.35), 0px 0px 20px rgba(255, 15, 159, 0.5);
}
#status__offline {
    background: #CBD5E1;
}

main h2 {
    font-size: 24px;
    margin: 1em 0 0.25em 0;
}
#userCount svg {
    width: 18px;
    height: 24px;
    margin-right: 4px;
}
#userCount svg path {
    fill: currentColor;
}
.buttons {
    width: 100%;
    overflow: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.buttons a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.1;
    width: calc(50% - 4px);
    margin: 4px 0;
    background: rgba(255,255,255,0.1);
    height: 75px;
    padding: 14px 18px;
    border-radius: 3px;
    color: #FFF;
    transition: all .2s ease-in-out
}
.buttons a span.icon {
    justify-self: flex-start;
    width: 18px;
    height: 18px;
    overflow: hidden;
    color: #CBD5E1;
}

.buttons a.playing {
    background: white;
    color: #040127;
    /* transform: scale(1.1) */
}

.buttons a.playing span.icon svg {
    color: #64748B;
    -webkit-animation: playing 5s linear infinite;
    animation: playing 5s linear infinite;
}

.buttons a span.text {
    justify-self: flex-end;
}

.toast > .body {
    background: #201B5A !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    color: #9C9AB6;
    padding: .75rem;
}


#now-playing {
    background: #FFFFFF;
    box-shadow: 0px 0px 100px #130e46, 0px 0px 200px rgba(0,0,0,0.35);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    padding: 20px;
    transition: transform .4s ease-in-out;
}
#now-playing.off {
    transform: translateY(200px)
}
#now-playing .msg {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .05em;
    color: #64748B;
}
#now-playing .title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    color: #141369;
    position: relative;
}
#now-playing .title:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background:  linear-gradient(270deg, #FFFFFF 19.67%, rgba(255, 255, 255, 0) 104.1%);
    content: '';
}
.progress .timing {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.progress .elapsed {
    color: #3366FF;
}
.progress .total {
    color: #64748B;
}
.progress-bar {
    margin: 6px 0;
    background: #CBD5E1;
    border-radius: 4px;
    width: 100%;
    height: 4px;
    position: relative;
}

.progress-bar-value {
    width: 20px;
    border-radius: 4px;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background: #3366FF;
    transition: width forwards;
}
#goodnight h1 {
    margin: 0 0 .5em 0;
}
#goodnight p {
    font-size: 20px;
    margin: 0;
    color: rgba(255,255,255,0.65);
}
#prompts {
    padding: 20px 0;
    margin-bottom: 120px;
}
#prompts img {
    margin-right: 6px;
}
#prompts a {
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: left;
    margin: 10px 0;
}
#prompts .prompt-title {
    display: block;
    color: #FFF;
    font-size: 20px;
}
#prompts .prompt-message {
    display: block;
    color: rgba(255,255,255,0.65);
}
/* 
#message-me {
    margin: 1.5rem 0 1rem 0;
    background: rgba(0,0,0,0.2);
    color: #9C9AB6;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 4px;
    width: 100%;
    padding: 2rem .75rem;
    margin-bottom: 120px;
    flex-direction: column;
}
#message-me .message-me-title {
    color: #FFF;
    font-weight: 600;
    font-size: 24px;
    display: block;
    margin: 4px 0;
}
#message-me img {
    width: 48px;
    height: 48px;
    margin: 0 0 12px 0;
} */
@media (max-width: 1024px) {
    #message-me {
        max-width: 100%;
    }
    .toast {
        left: 0;
        right: 0;
    }
}

.fadeIn {
    -webkit-animation: fadein 1s linear forwards;
    animation: fadein 1s linear forwards;
}

.fadeOut {
    -webkit-animation: fadeout 1s linear forwards;
    animation: fadeout 1s linear forwards;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes playing {
  0% { transform: translateX(0); }
  100% { transform: translateX(-91px); }
}

@keyframes playing {
  0% { transform: translateX(0); }
  100% { transform: translateX(-91px); }
}



@media (max-height: 568px) {
    #loader h1, #loader h2 {
        margin-bottom: 1em;
    }
    #loader img {
        width: 144px;
        height: 144px;
    }
}
@media (max-height: 520px) {
    #loader h1, #loader h2 {
        margin-bottom: 1em;
    }
    #loader h1 {
        font-size: 20px;
    }
        #loader h2 span {
        font-size: 32px;
    }
    #loader img {
        width: 124px;
        height: 124px;
    }
    
}