html, body {
    background: #03001E;
    color: #FFF;
    font-family: 'Space Grotesk', sans-serif;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

main {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left; */
    background: url('wallpaper-min.jpg') center top no-repeat;
    background-size: cover;
    padding: 20px;
}

@media (min-width: 1024px) {
    main {
        margin: 0 auto;
        max-width: 640px;
        margin-top: 20px;
        border-radius: 6px;
    }
}
header {
    margin-bottom: 1em;
}
header h1 {
    color: rgba(255,255,255,0.8);
    font-size: 20px;
    margin-bottom: .25em;
}
header h1 span {
    display: block;
    font-size: 36px;
    color:#FFF;
}
#userCount {
    color: #CBD5E1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status {
    border-radius: 3px;
    text-transform: uppercase;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    letter-spacing: 0.06em;
    color: #040127;
    padding: 4px 8px;
    opacity: 0;
    position: absolute;
}
#status-row {
    height: 26px;
}
.status svg {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

#status__live {
    background: #FF4591;
    box-shadow: 0px 2px 40px rgba(255, 69, 145, 0.35), 0px 0px 20px rgba(255, 69, 145, 0.5);
}
#status__offline {
    background: #CBD5E1;
}

main h2 {
    font-size: 24px;
    margin: 1em 0 0.25em 0;
}
#userCount svg {
    width: 18px;
    height: 24px;
    margin-right: 4px;
}
#userCount svg path {
    fill: currentColor;
}
.buttons {
    width: 100%;
    overflow: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.buttons a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.1;
    width: calc(50% - 4px);
    margin: 4px 0;
    background: rgba(255,255,255,0.1);
    height: 75px;
    padding: 14px 18px;
    border-radius: 3px;
    color: #FFF;
    transition: all .2s ease-in-out
}
.buttons a span.icon {
    justify-self: flex-start;
    width: 18px;
    height: 18px;
    overflow: hidden;
    color: #CBD5E1;
}

.buttons a.playing {
    background: white;
    color: #040127;
    /* transform: scale(1.1) */
}

.buttons a.playing span.icon svg {
    color: #64748B;
    -webkit-animation: playing 5s linear infinite;
    animation: playing 5s linear infinite;
}

.buttons a span.text {
    justify-self: flex-end;
}

.toast > .body {
    background: #201B5A !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    color: #9C9AB6;
    padding: .75rem;
}
#message-me {
    margin: 1.5rem 0 1rem 0;
    background: #201B5A;
    color: #9C9AB6;
    text-decoration: none;
    display: flex;
    align-content: center;
    border-radius: 4px;
    width: 100%;
    padding: 1rem .75rem;
}
#message-me img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
@media (max-width: 1024px) {
    #message-me {
        max-width: 100%;
    }
    .toast {
        left: 0;
        right: 0;
    }
}

.fadeIn {
    -webkit-animation: fadein 1s linear forwards;
    animation: fadein 1s linear forwards;
}

.fadeOut {
    -webkit-animation: fadeout 1s linear forwards;
    animation: fadeout 1s linear forwards;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes playing {
  0% { transform: translateX(0); }
  100% { transform: translateX(-91px); }
}

@keyframes playing {
  0% { transform: translateX(0); }
  100% { transform: translateX(-91px); }
}