@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

html, body {
    background: #03001E;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
main .heading {
    padding-top: 8px;
    max-width: 480px;
    width: 100%;
    color: #6B6791;
    font-family: 'Roboto Mono', Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    text-transform: uppercase;
    font-size: .85rem;
    letter-spacing: 0.02em;
    text-align: left;
    padding-left: .2rem;
    display: flex;
    line-height: 24px;
    vertical-align: top;
}
#userCount {
    align-self: flex-end;
}
#userCount span {
    vertical-align: top;
}
#userCount svg {
    width: 16px;
    height: 24px;
    margin-right: -4px;
}
#userCount svg path {
    fill: #9C9AB6;
}
.buttons {
    max-width: 480px;
    width: 100%;
    font-weight: 900;
    overflow: visible;
    display: flex;
    flex-direction: column;
}
.buttons a {
    display: block;
    margin-bottom: .25rem;
    text-decoration: none;
    font-weight: 800;
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    white-space: nowrap;
}

.buttons a span {
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.rainbow span {
    background: linear-gradient(96.24deg, #FFD574 -1.7%, #FF2D82 14.9%, #B44CFF 34.39%, #548AFF 53.35%, #02E088 72.54%, #FFD574 89.03%);
}

.crazy span {
    background: linear-gradient(97.9deg, #FF2D82 -7%, #FF2D82 13.77%, #B44CFF 48.57%, #548AFF 71.03%, #02E088 100.78%);
}

.blue span {
    background: linear-gradient(106.52deg, #286BFD -1.31%, #8EEBFF 108.4%);
}

.purple span {
    background: linear-gradient(106.52deg, #9922EF -1.31%, #F094FF 108.4%);
}

.red span {
    background: linear-gradient(106.52deg, #ED0161 -1.31%, #FF73F1 108.4%);
}

.orange span {
    background: linear-gradient(106.52deg, #EE6604 -1.31%, #FFE9B5 108.4%);
}

.yellow span {
    background: linear-gradient(106.52deg, #FFD645 -1.31%, #FFE9B5 108.4%);
}

.aqua span {
    background: linear-gradient(106.52deg, #2DF2FF -1.31%, #A4FFEF 108.4%);
}

.green span {
    background: linear-gradient(106.52deg, #00D964 -1.31%, #57FFF5 108.4%);
}

.bangarang span {
    background: linear-gradient(97.9deg, #FF2D82 -7%, #FF2D82 48.01%, #35D1E6 69.34%);
}

.bluey span {
    background: linear-gradient(91.44deg, #FFAF72 -19.52%, #FFAF72 12.37%, #FFFFFF 42.93%, #D2E9FB 51.56%, #81BDE2 108.03%);
}

.chopsuey span {
    background: linear-gradient(106.52deg, #FFD645 -1.31%, #FFE9B5 108.4%);
}

.toast > .body {
    background: #201B5A !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    color: #9C9AB6;
    padding: .75rem;
}
#message-me {
    margin: 1.5rem 0 1rem 0;
    background: #201B5A;
    color: #9C9AB6;
    text-decoration: none;
    display: flex;
    align-content: center;
    border-radius: 4px;
    width: 100%;
    padding: 1rem .75rem;
}
#message-me img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
@media (max-width: 1024px) {
    .toast {
        left: 0;
        right: 0;
    }
}
